nav {
  background-color: $blue;
  & > .container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    & > a {
      width: 150px;
    }
    input {
      display: none;
      &:checked ~ ul {
        left: 0;
      }
    }
    ul {
      display: flex;
      gap: 7px;
      li {
        padding: 6px 10px;
        &:hover {
          background-color: $yellow;
          color: $blue;
          border-radius: 20px;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
      .flag:hover {
        background-color: transparent;
      }
    }
  }
}

@media (max-width: 670px) {
  nav {
    & > .container {
      position: relative;
      padding: 0;
      & > a {
        margin: 10px;
      }
      ul {
        position: absolute;
        top: 72%;
        left: -100%;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: $blue;
        padding: 20px;
      }
      label {
        margin: 10px;
      }
    }
  }
}
